<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="shortcut icon"
            href="{{ asset('assets/images/favicon.svg') }}"
            type="image/x-icon"
    />
    <title>{{ app_name }}</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/lineicons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/materialdesignicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- ======== preloader =========== -->
<div id="preloader" style="display: none;">
    <div class="spinner"></div>
</div>
<!-- ======== sidebar-nav start =========== -->
{{ include('Layout/sidebar.html.twig') }}
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper">

    {{ include('Layout/header.html.twig') }}

    {% block body %}{% endblock %}
</main>
<!-- ======== main-wrapper end =========== -->

<!-- ========= All Javascript files linkup ======== -->
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script>
        const dataTableLog = new simpleDatatables.DataTable("#dataTable", {
            searchable: true,
            perPage: 30,
            fixedHeight: true,
        });
    </script>
{% endblock %}
</body>
</html>

