<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
                <div class="header-left d-flex align-items-center">
                    <div class="menu-toggle-btn mr-15">
                        <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                            <i class="lni lni-chevron-left me-2"></i> Menu
                        </button>
                    </div>
                    <div class="header-search d-none d-md-flex">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
                <div class="header-right">
                    <!-- notification start -->
                    <div class="notification-box ml-15 d-none d-md-flex">
                        <button class="dropdown-toggle" type="button" id="notification" data-bs-toggle="dropdown" aria-expanded="false">

                            <span></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification">
                            <li>
                                <a href="#0">
                                    <div class="image">
                                        <img src="{{ asset('assets/images/lead/lead-6.png') }}" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>
                                            John Doe
                                            <span class="text-regular">
                            comment on a product.
                          </span>
                                        </h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consect etur adipiscing
                                            elit Vivamus tortor.
                                        </p>
                                        <span>10 mins ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <div class="image">
                                        <img src="{{ asset('assets/images/lead/lead-1.png') }}" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>
                                            Jonathon
                                            <span class="text-regular">
                            like on a product.
                          </span>
                                        </h6>
                                        <p>
                                            Lorem ipsum dolor sit amet, consect etur adipiscing
                                            elit Vivamus tortor.
                                        </p>
                                        <span>10 mins ago</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- notification end -->
                    <!-- message start -->
                    <div class="header-message-box ml-15 d-none d-md-flex">
                        <button class="dropdown-toggle" type="button" id="message" data-bs-toggle="dropdown" aria-expanded="false">

                            <span></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="message">
                            <li>
                                <a href="#0">
                                    <div class="image">
                                        <img src="assets/images/lead/lead-5.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>Jacob Jones</h6>
                                        <p>Hey!I can across your profile and ...</p>
                                        <span>10 mins ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <div class="image">
                                        <img src="assets/images/lead/lead-3.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>John Doe</h6>
                                        <p>Would you mind please checking out</p>
                                        <span>12 mins ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <div class="image">
                                        <img src="assets/images/lead/lead-2.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h6>Anee Lee</h6>
                                        <p>Hey! are you available for freelance?</p>
                                        <span>1h ago</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- message end -->
                    <!-- profile start -->
                    <div class="profile-box ml-15">
                        <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-info">
                                <div class="info">

                                    <div>
                                        <h6 class="fw-500">{{ security.user.name }}</h6>
                                        <small class="text-xs">{{ security.user.profile.profile }}</small>
                                    </div>
                                </div>
                            </div>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                            <li>
                                <div class="author-info flex items-center !p-1">

                                    <div class="content">
                                        <h4 class="text-sm">{{ security.user.name }}</h4>
                                        <a class="text-black/40 dark:text-white/40 hover:text-black dark:hover:text-white text-xs" href="#">Email@gmail.com</a>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#0">
                                    <i class="lni lni-user"></i> View Profile
                                </a>
                            </li>


                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('app_logout') }}"> <i class="lni lni-exit"></i> Sign Out </a>
                            </li>
                        </ul>
                    </div>
                    <!-- profile end -->
                </div>
            </div>
        </div>
    </div>
</header>