<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="shortcut icon"
            href="{{ asset('assets/images/favicon.svg') }}"
            type="image/x-icon"
    />
    <title>{{ app_name }}</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/lineicons.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/materialdesignicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
</head>
<body>
<!-- ======== sidebar-nav start =========== -->
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->

<!-- ======== main-wrapper start =========== -->
<main class="main-wrapper ml-20 mt-20">
    {% block body %}{% endblock %}
</main>
<!-- ======== main-wrapper end =========== -->

<!-- ========= All Javascript files linkup ======== -->
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
</body>
</html>

