{% extends 'Layout/base_layout.html.twig' %}

{% block body %}

    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">

                <!-- end row -->
                <div class="row">
                    <section class="section error-404 min-vh-10 d-flex flex-column align-items-center justify-content-center">

                        <div class="card w-75 shadow-lg ">
                            <div class="card-header d-flex flex-column align-items-center justify-content-center">
                                <div class="icon mb-10">
                                    <h1 class="text-gray display-1"><i class="lni lni-sad"></i></h1>
                                </div>
                                <p class="">Ohhh..., an error has occurred .</p>
                            </div>
                            <div class="card-body">


                                <div class="alert-box danger-alert pl-100">
                                    <div class="left">
                                        <h5 class="text-bold">Details</h5>
                                    </div>
                                    <div class="alert">
                                        <h3 class="alert-heading"> {{ exception.message }} </h3>
                                        {% if  environment  is not same as 'prod' %}
                                        <p class="text-medium">
                                            <strong>in</strong><span class="small">{{ exception.file }}</span>
                                           <strong> on line</strong> {{ exception.line }}
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button bg-secondary text-white" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                        FullTrace
                                            </button>
                                        </h2>
                                        {% if  environment  is not same as 'prod' %}
                                            <div id="collapseOne" class="accordion-collapse collapse"
                                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <strong>Code:</strong>{{ exception.code }}</li>
                                                        <li class="list-group-item">
                                                            <strong>File:</strong>{{ exception.file }}</li>
                                                        <li class="list-group-item">
                                                            <strong>Line:</strong>{{ exception.line }}</li>

                                                    </ul>

                                                </div>
                                                <div class="accordion-body small">
                                                    {{ exception.traceAsString }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>


                            </div>
                            <div class="card-footer">
                                <div class="action d-flex flex-wrap justify-content-center">
                                    <button onclick="history.back()"
                                            class="main-btn btn-sm danger-btn rounded-full btn-hover m-1">
                                        go back
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div>
            <!-- ========== title-wrapper end ========== -->
        </div>
        <!-- end container -->
    </section>



{% endblock %}
