{% extends 'Layout/base_layout.html.twig' %}

{% block body %}
    <main class="container-fluid">
        <div class="card shadow-lg bg-success">
            <div class="card-header">
                Operation successfull!!
            </div>
            <div class="card-body">
                your operation was completed successfull!!!
            </div>
            <div class="card-footer">
                volver
            </div>


        </div>
    </main>
{% endblock %}
