{% extends 'Layout/base_layout.html.twig' %}
{% block body %}
    <div class="container text-center mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡Enhorabuena!</h4>
            <p>{{ message }} </p>

            <div class="img-responsive img-thumbnail">
                <img src="{{ asset('assets/images/success_done.jpg') }}"
                     alt="Imagen de éxito" class="img-fluid mt-3">
            </div>
            <hr>
        </div>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-success">
            Volver
        </a>
    </div>
{% endblock %}