{% extends 'Layout/base_layout.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container-fluid">
            <!-- ========== title-wrapper start ========== -->
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title">
                            <h2>
                                <div class="icon">
                                    <i class="lni lni-user"></i>
                                    {{ user.name }}
                                </div>

                            </h2>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-6">
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#0">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('admin_users') }}">Users</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        User profile
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- ========== title-wrapper end ========== -->

            <div class="row mt-10">
                <div class="col-lg-6">
                    <div class="card-style settings-card-1 mb-30">
                        <div class="title mb-30 d-flex justify-content-between align-items-center">
                            <h6>{{ user.username }}</h6>
                            <button class="border-0 bg-transparent">
                                <i class="lni lni-pencil-alt"></i>
                            </button>
                        </div>
                        <div class="profile-info">
                            <div class="d-flex align-items-center mb-30">
                                <div class="profile-image">
                                    <img src="{{ asset('assets/images/profile/profile-avatar.svg') }}" alt="">
                                    <div class="update-image">
                                        <input type="file">
                                        <label for=""><i class="lni lni-cloud-upload"></i></label>
                                    </div>
                                </div>
                                <div class="profile-meta">
                                    <h5 class="text-bold text-dark mb-10">{{ user.name }}</h5>
                                    <p class="text-sm text-gray">Profile: {{ user.profile }}</p>
                                </div>
                            </div>
                            <div class="input-style-1">
                                <label>Email</label>
                                <input type="email" placeholder="admin@example.com" value="{{ user.email }}">
                                <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>

                            <div class="input-style-1">
                                <label>Bio</label>
                                <textarea placeholder="Write your bio here" rows="4">Crafted for – Business, Startup, SaaS, Apps, Event, Software, Agency, Resume and Portfolio. All Landing Pages comes with clean design and responsive layout. Also packed with all essential sections, elements, and features you need to launch</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-lg-6">
                    <div class="card-style settings-card-2 mb-30">
                        <div class="title mb-30">
                            <h6>Logs</h6>
                        </div>

                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>






{% endblock body %}
{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}
