{% extends 'Base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<section class="signin-section">
    <div class="container d-flex align-items-center justify-content-center">

        <div class="row g-0 auth-row">
            <div class="col-lg-4">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Account recovery</h1>
                            <p class="text-medium para-width-500 mx-auto">

                            </p>
                        </div>
                        <div class="cover-image">
                            <img src="{{ asset('assets/images/auth/email-sent.svg') }}" alt="">
                        </div>
                        <div class="shape-image">
                            <img src="{{ asset('assets/images/auth/shape.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15"> Password Reset Email Sent</h6>
                        <p class="text-sm mb-25">
                        <p>
                            If an account matching your email exists, then an email was just sent that contains a link
                            that you can use to reset your password.
                            This link will expire
                            in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} .
                        </p>
                        <hr>
                        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

                        <div class="d-flex justify-content-between flex-wrap pt-40">
                            <a href="{{ path('app_login') }}" class="hover-underline"> Sign in </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</section>



{% endblock %}
