{% extends 'Base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}


    <section class="signin-section">
        <div class="container d-flex align-items-center justify-content-center">

            <div class="row g-0 auth-row">
                <div class="col-lg-4">
                    <div class="auth-cover-wrapper bg-primary-100">
                        <div class="auth-cover">
                            <div class="title text-center">
                                <h1 class="text-primary mb-10">Account recovery</h1>
                                <p class="text-medium para-width-500 mx-auto">
                                    Enter your  email to recover your password. You
                                    will receive an email with instructions. If you are having
                                    problems recovering your password <a href="#0">contact</a>
                                </p>
                            </div>
                            <div class="cover-image">
                                <img src="{{ asset('assets/images/auth/reset-password.svg') }}" alt="">
                            </div>
                            <div class="shape-image">
                                <img src="{{ asset('assets/images/auth/shape.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="signin-wrapper">
                        <div class="form-wrapper">
                            <h6 class="mb-15">Password assistance</h6>
                            <p class="text-sm mb-25">
                                Enter your email to recover your password
                            </p>
                            <form action="#" method="post">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}" >
                                <div class="row">
                                    <div class="col-12">
                                        {% for flash_error in app.flashes('reset_password_error') %}
                                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                        {% endfor %}


                                        <div class="input-style-1">
                                            <label>Email</label>
                                            <label>
                                                <input type="email"  name="email" placeholder="Email">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="button-group d-flex justify-content-center flex-wrap">
                                            <button class="main-btn primary-btn btn-hover w-100 text-center">
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                    <!-- end col -->

                                    <!-- end row -->
                                </div>
                            </form>
                            <div class="d-flex justify-content-between flex-wrap pt-40">
                                <a href="{{ path('app_login') }}" class="hover-underline"> Sign in </a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </section>



{% endblock %}
