{% extends 'Base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <section class="signin-section">
        <div class="container d-flex align-items-center justify-content-center">

            <div class="row g-0 auth-row">
                <div class="col-lg-4">
                    <div class="auth-cover-wrapper bg-primary-100">
                        <div class="auth-cover">
                            <div class="title text-center">
                                <h1 class="text-primary mb-10">Final step to activate your account</h1>


                                <div class="progress mb-3">
                                    <div id="result" class="progress-bar text-white fw-bold"
                                         role="progressbar" style="width: 0%"
                                         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>


                            </div>

                            <div class="shape-image">
                                <img src="{{ asset('assets/images/auth/shape.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6">
                    <div class="signin-wrapper">
                        <div class="form-wrapper">
                            <h6 class="mb-15">Password</h6>
                            <p class="text-sm mb-25">
                               Please chose a secure password
                            </p>

                            {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}
                            <div class="text-center">
                                <button class="btn btn-secondary" id="show-password" type="button">
                                    <i class="bx bx-show"></i> Show
                                </button>

                                <button class="btn btn-primary" id="btn-activar"
                                        title="Me activaré cuando tu contraseña elegida cumpla los requisitos"
                                >Continue</button>
                            </div>

                            {{ form_end(resetForm) }}

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </section>



{% endblock body %}
   {% block javascripts %}
       {{ parent() }}
       <script src="{{ asset('assets/js/app/security/password-utils-activation.js') }}"></script>

   {% endblock %}

